.aboutContainer {
    padding: 1em;
}

.headerH1 {
    text-align: center;
    font-family: var(--Major-Mono-font);
    color: var(--blue-color);
    padding: 1em;
    border-bottom: 1px solid var(--blue-color);
}

.navContainer {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 1px solid var(--blue-color);
}

.navLink {
    cursor: pointer;
    font-family: var(--Major-Mono-font);
    font-size: .7em;
    color: var(--blue-color);
}

@media (min-width: 700px) {
    .aboutContainer {
        padding: 1em 5em;
    }

    .navContainer {
        padding: 1em 5em;
        
    }

    .navLink {
        font-size: 1em;
    }
    
}

@media (min-width: 1000px) {
    .aboutContainer {
        padding: 1em 5em;
    }

    .navContainer {
        justify-content: center;
        gap: 4em;
    }

    .navLink {
        font-size: 1.2em;
    }
    
}