.personalContainer {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.personalHeader {
    color: var(--blue-color);
    padding: 1em 0;
    align-self: center;
    font-family: var(--Major-Mono-font);
}

.personalInfo {
    display: flex;
    flex-direction: column;
    gap: .5em;
    font-family: var(--Chakra-font);
}

.personalInfo a {
    color: var(--blue-color);
    text-decoration: none;
    cursor: pointer;
    width: fit-content;
}

.skillContainer {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.skillList {
    padding-left: 2em;
}

.skillGroup h4 {
    color: var(--blue-color);
}

.skillList li {
    list-style: circle;
}

@media (min-width: 700px) {

    .personalContainer {
       font-size: 1.3em;
    }
    
    .personalHeader {
       font-size: 2em;
    }

}