.container {
   width: 90%;
   height: fit-content;
   box-shadow: 5px 5px 7px 3px gray;
   border-radius: 1em;
   overflow: hidden;
}

.imgContainer {
    height: 15em;
    width: 100%;
}

.imgContainer img {
    height: 100%;
    width: 100%;
}

.content {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.content > header > h4 {
    text-align: left;
    font-size: 1em;
    color: var(--blue-color);
}

.content > p {
    font-family: var(--Chakra-font);
    font-size: .9em;
}

.projectLink {
    background-color: var(--blue-color);
    width: 100px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border-radius: 1em;
}


@media (min-width: 650px) {
    .container {
        width: 500px;
        height: fit-content;
        box-shadow: 5px 5px 7px 3px gray;
        border-radius: 1em;
        overflow: hidden;
     }

     .imgContainer {
        height: 20em;
        width: 100%;
    }

    .content > p {
        font-family: var(--Chakra-font);
        font-size: 1.2em;
    }

    .content > header > h4 {
        font-size: 1.5em;
    }
    
}

@media (min-width: 1000px) {
    .container {
        width: 500px;
        height: fit-content;
        box-shadow: 5px 5px 7px 3px gray;
        border-radius: 1em;
        overflow: hidden;
     }

     .imgContainer {
        height: 20em;
        width: 100%;
    }
    

    .content > p {
        font-family: var(--Chakra-font);
        font-size: 1.3em;
    }

    .content > header > h4 {
        font-size: 1.5em;
    }
}




