.container {
    height: 4em;
    box-shadow: 5px 0 10px 5px gray;
    font-family: var(--Major-Mono-font);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    min-height: 4em;
}

.brandLink {
    cursor: pointer;
    color: var(--blue-color);
    text-decoration: none;  
}

.link {
    color: var(--blue-color);
    text-decoration: none;
    cursor: pointer;
}

@media (min-width: 1000px) {
    .container {
        padding: 0 3em;
    }
    .brandLink {
        font-size: 1.5em;
    }
}

@media (min-width: 1400px) {
    .container {
        padding: 0 4em;
    }
    .brandLink {
        font-size: 1.5em;
    }
}