.container ul {
    display: flex;
    align-items: center;
    gap: 1em;
}

.container ul li {
    list-style: none;
}

.link {
    font-size: .8em;
    color: var(--text-color);
    text-decoration: none;
    transition: color .3s ease-in-out;
}

.link:hover {
    color: var(--text-glow);
}